@page
@model Formulario.App.Frontend.Pages.ListModel
@{
}

<div class="row g-3">
  <div class="col-6">
    <label class="form-label">Nombres</label>
    <input type="text" class="form-control" placeholder="Ingrese Nombres" aria-label="First name" title="escriba su nombre" require>
  </div>
  <div class="col-6">
    <label class="form-label">Apellidos</label>
    <input type="text" class="form-control" placeholder="Ingrese Apellidos" aria-label="Last name" require>
  </div>
  
  <div class="col-3">
    <label for="inputAddress" class="form-label">Direccion</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Ingrese su Direccion" require>
  </div>  
  <div class="col-3">
    <label for="inputPhone" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="inputPhone" placeholder="Ingrese su numero Telefonico" require>
  </div>
  <div class="col-6">
    <label for="inputCity" class="form-label">Ciudad</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Ingrese su ciudad de Residencia">
  </div>
  <div class="col-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese su direccion de Correo Electronico" require>
  </div>
  <div class="col-10"> 
    <br>
    <button type="submit" class="btn btn-outline-dark">Enviar Datos</button>
  </div>
</div>







