@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MinTIC 2021 Modulo 3 Programacion</h1>
    <p>Desarrollo sprint 2 de la materia Desarrollo de Software correpondiente al modulo 3 del programa.</p>
    <h2 class="display-8" class="text-danger"><p class="text-danger">Contexto del problema:</p>
        Hospitalización en casa
    </h1>

    <p>
        El acceso a los servicios de salud hospitalaria es uno de los principales derechos sobre los que se soportan los principios de universalidad y equidad. Sin embargo, algunas circunstancias como: el aumento de la demanda de camas, el envejecimiento de la población, las migraciones, el uso inadecuado de los servicios de salud, la mala administración de los recursos y, por supuesto, la pandemia generada por el COVID-19, entre otros; están causando que el sistema este continuamente saturado y la disponibilidad de camas sea mínima. Una de las alternativas de solución para afrontar este problema ha sido enviar los pacientes a su entorno familiar para realizar un cuidado “hospitalario” en casa, sin embargo, la poca experiencia en cuidado de pacientes por parte de las familias, la distancia y el tiempo para atender al paciente por parte del equipo de salud en su hogar cuando la condición de salud del paciente así lo exija, (o por revisiones de rutina) y los direccionamientos del médico tratante y el equipo de salud para ser aplicados en casa, no siempre se hacen de manera oportuna. Una de las estrategias sugeridas para resolver este problema es el uso de las nuevas tecnologías de la información en la atención sanitaria para comunicar en tiempo real el estado de salud y los signos vitales de los pacientes que están en sus hogares y así favorecer la adherencia al tratamiento y garantizar su cuidado por parte de la familia apoyados por un equipo de profesionales de la salud de manera virtual.
    </p>
    
    

</div>
